body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#login-screen, #game-screen, #server-full {
    text-align: center;
}

input, button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

#game-canvas {
    border: 1px solid #000;
}